/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

.header {
    background: #1B1C29;
    top: 2vw;
    height: 65vw;
}

.about {
    background: #1B1C29;
    top: 2vw;
    height: 20vw;
}

.cards {
    background: #1B1C29;
    top: 2vw;
    height: 55vw;
}

.stats {
    background: #1B1C29;
    top: 2vw;
    height: 500px;
    background: url(../img/stats-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.faq {
    background: #1B1C29;
    top: 2vw;
    height: 62vw;
    padding-top: 5vw;
}

.footer {
    background: #1B1C29;
    top: 0vw;
    height: 20vw;
    padding-top: 0vw;
    position: relative;
}

.navbar-mob {
    display: none;
}


/* NAVBAR*/

.navbar {
    color: white;
    position: relative;
    left: 5vw;
}

.navbar-links {
    position: relative;
    left: 45vw;
}

li {
    list-style-type: none;
}

.navbar-links li {
    margin-right: 2vw;
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
    top: 1vw;
    font-size: 1vw;
    line-height: 29px;
    color: #FFFFFF;
    transition: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar-links li>hr {
    background: #FF1469;
    height: 0.1vw;
    width: 0%;
    transition: 0.4s;
}

.navbar-links li:hover {
    color: #FF1469;
}

.navbar-links li:hover .navbar-hr {
    width: 100%;
}


/* HEADER */

.header-text {
    position: relative;
    padding: 12vw 10vw 8vw 10vw;
}

.header-text h1 {
    color: #FF1469;
}

.header-text p {
    color: white;
    width: 570px;
    line-height: 158.4%;
    position: relative;
    top: 0.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.header-video {
    position: relative;
    height: 270px;
    width: 510px;
    left: 8vw;
    top: 10vw;
    background: #1B1C29;
    box-shadow: 4px 4px 77px rgba(0, 0, 0, 0.48);
}


/* BOOST BANNER */

.boost-banner {
    position: relative;
    right: 4vw;
    top: 2vw;
}

.boost-banner-text {
    position: relative;
    width: 580px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 2.2vw;
    left: 15vw;
    bottom: 17vw;
}

.boost-banner-text span {
    color: #FF1469;
    font-weight: 600;
}

.boost-banner-desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 152.5%;
    color: white;
    left: 15vw;
    position: relative;
    width: 600px;
    bottom: 17vw;
    font-weight: 300;
}

.boost-banner img {
    width: 105vw;
}


/* ABOUT BOOSTING*/

.about-title {
    color: white;
}

.about-title span {
    color: #FF1469;
}

.about-desc {
    color: white;
    width: 1000px;
    position: relative;
    margin: 0 auto;
    top: 0.5vw;
    font-size: 1vw;
}

.about-desc span {
    color: #FF1469;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    line-height: 33px;
}


/* BOOST-CARDS */

.cards-title {
    color: white;
}

.cards-title span {
    color: #FF1469;
}

.boost-cards {
    position: relative;
    top: 3vw;
    left: 23vw;
    margin-top: 2vw;
}

.boost-card {
    margin-right: 70px;
}

.boost-buy {
    position: relative;
    top: 1.5vw;
    left: 1.4vw;
    color: white;
    cursor: pointer;
}

.boost-button {
    background: #1B1C29;
    border: 1px solid #FF1469;
    box-sizing: border-box;
    border-radius: 12px;
    width: 210px;
    background: linear-gradient(to right, #FF1469 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 0.7s ease;
    height: 45px;
    text-align: center;
    transition: 0.4s;
}

.boost-button p {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9vw;
    top: 1vw;
    font-family: 'Roboto', sans-serif;
    line-height: 128.4%;
    top: 0.5vw;
    right: 1vw;
    position: relative;
}

.boost-price {
    width: 70px;
    height: 45px;
    border: 1px solid transparent;
    background: linear-gradient(to right, #1B1C29 50%, #FF1469 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 12px;
    position: absolute;
    left: 8vw;
    text-align: center;
    transition: 0.4s;
}

.boost-price p {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9vw;
    top: 1vw;
    font-family: 'Roboto', sans-serif;
    line-height: 128.4%;
    top: 0.5vw;
    position: relative;
}

.boost-card img {
    width: 15vw;
}

.boost-card img:hover {
    transform: rotate(2deg) scale(1.1);
    transition: 0.4s;
}

.boost-buy:hover .boost-button {
    background-position: left bottom;
}

.boost-buy:hover .boost-price {
    background-position: left bottom;
    border: 1px solid #FF1469;
}


/* MM */

.boost-mm {
    background: #1B1C29;
    border: 1px solid #DB272A;
    box-sizing: border-box;
    border-radius: 12px;
    width: 210px;
    background: linear-gradient(to right, #DB272A 50%, transparent 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 0.7s ease;
    height: 45px;
    text-align: center;
    transition: 0.4s;
}

.boost-mm p {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9vw;
    top: 1vw;
    font-family: 'Roboto', sans-serif;
    line-height: 128.4%;
    top: 0.5vw;
    right: 1vw;
    position: relative;
}

.boost-price-mm {
    width: 70px;
    height: 45px;
    border: 1px solid #DB272A;
    background: linear-gradient(to right, #1B1C29 50%, #DB272A 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 12px;
    position: absolute;
    left: 8vw;
    text-align: center;
    transition: 0.4s;
}

.boost-price-mm p {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9vw;
    top: 1vw;
    font-family: 'Roboto', sans-serif;
    line-height: 128.4%;
    top: 0.5vw;
    position: relative;
}

.boost-buy:hover .boost-mm {
    background-position: left bottom;
}

.boost-buy:hover .boost-price-mm {
    background-position: left bottom;
    border: 1px solid #DB272A;
}


/*BLUE*/

.boost-blue {
    background: #1B1C29;
    border: 1px solid #0292E9;
    box-sizing: border-box;
    border-radius: 12px;
    width: 210px;
    background: linear-gradient(to right, #0292E9 50%, transparent 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 0.7s ease;
    height: 45px;
    text-align: center;
    transition: 0.4s;
}

.boost-blue p {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9vw;
    top: 1vw;
    font-family: 'Roboto', sans-serif;
    line-height: 128.4%;
    top: 0.5vw;
    right: 1vw;
    position: relative;
}

.boost-price-blue {
    width: 70px;
    height: 45px;
    border: 1px solid #0292E9;
    background: linear-gradient(to right, #1B1C29 50%, #0292E9 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 12px;
    position: absolute;
    left: 8vw;
    text-align: center;
    transition: 0.4s;
}

.boost-price-blue p {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9vw;
    top: 1vw;
    font-family: 'Roboto', sans-serif;
    line-height: 128.4%;
    top: 0.5vw;
    position: relative;
}

.boost-buy:hover .boost-blue {
    background-position: left bottom;
}

.boost-buy:hover .boost-price-blue {
    background-position: left bottom;
    border: 1px solid #0292E9;
}


/* STATS */

.stats-body {
    position: relative;
    top: 10vw;
    left: 5vw;
}

.stats-title {
    position: relative;
    width: 580px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 2.2vw;
}

.stats-title span {
    position: relative;
    font-weight: 500;
    color: #FF1469;
    font-size: 2.2vw;
}

.stats-desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    width: 570px;
}

.review {
    background: #FF1469;
    border-radius: 19px;
    border: none;
    width: 275px;
    position: relative;
    top: 1vw;
    height: 50px;
    color: white;
    transition: 0.4s;
}

.review:hover {
    -webkit-box-shadow: 0px 0px 40px -6px rgba(255, 20, 105, 1);
    -moz-box-shadow: 0px 0px 40px -6px rgba(255, 20, 105, 1);
    box-shadow: 0px 0px 40px -6px rgba(255, 20, 105, 1);
}

.complete-boosts {
    position: relative;
    bottom: 25vw;
    left: 25vw;
}

.stats__card-line {
    width: 8vw;
    background: #C4C4C4;
    height: 0.3vw;
    border-radius: 50px;
    position: relative;
    left: 16.5vw;
    vertical-align: baseline;
    top: 8.8vw;
    transition: 0.4s;
}

.complete-boost {
    margin-right: 8vw;
}

.complete-boost:hover .stats__card-line {
    background: #FF1469;
}

.complete-boost img {
    width: 3.5vw;
    position: relative;
    left: 18.75vw;
    top: 11vw;
}

.comptele-text {
    position: relative;
    top: 9vw;
    left: 16.3vw;
    font-size: 1vw;
    text-align: center;
    color: white;
}

.comptele-number {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    vertical-align: baseline;
    position: relative;
    left: 18vw;
    top: 11vw;
}

.stats-title-body {
    position: relative;
    bottom: 3vw;
}


/*FAQ*/

.faq-span {
    color: #FF1469;
}

.answers {
    position: relative;
    left: 16vw;
    top: 5vw;
    margin-bottom: 2vw;
}

.answer {
    background: #FF1469;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    width: 580px;
    height: 80px;
    margin-right: 5vw;
    cursor: pointer;
    transition: 0.4s;
}

.answer-active {
    height: 190px !important;
}

.answer-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    line-height: 138.4%;
}

.answer img {
    width: 1.3vw;
    position: relative;
    left: 1.5vw;
    top: 0vw;
}

.answer-title {
    position: relative;
    left: 3vw;
    font-weight: 500;
    top: 1.5vw;
    font-size: 0.8vw;
}

.answer-desc {
    position: relative;
    color: white;
    top: 1vw;
    left: 3vw;
    width: 400px;
    font-weight: 300;
    display: none;
    transition: 0.4s;
    font-size: 0.8vw;
}

.answer-desc-active {
    display: block !important;
}


/* FOOTER */

.footer-left {
    position: relative;
    left: 14vw;
}

.footer-left ul>li {
    list-style-type: none;
    color: white;
    margin-bottom: 1vw;
    font-size: 1vw;
}

.header-video-footer {
    position: relative;
    height: 270px;
    width: 510px;
    left: 29.5vw;
    background: #1B1C29;
    top: 0vw;
    box-shadow: 4px 4px 77px rgba(0, 0, 0, 0.48);
}

.footer-author {
    color: white;
    font-weight: 300;
    position: relative;
    left: 46vw;
    top: 1.5vw;
}

@media (max-width: 1800px) {
    .boost-buy {
        left: 1.2vw;
    }
    .boost-button p {
        top: 0.5vw;
        right: 1.2vw;
        font-size: 0.8vw;
    }
    .boost-price {
        left: 8vw;
        height: 40px;
    }
    .boost-button {
        width: 180px;
        height: 40px;
    }
    .boost-mm p {
        top: 0.5vw;
        right: 1.2vw;
        font-size: 0.8vw;
    }
    .boost-price-mm {
        left: 8vw;
        height: 40px;
    }
    .boost-mm {
        width: 180px;
        height: 40px;
    }
    .boost-blue p {
        top: 0.5vw;
        right: 1.2vw;
        font-size: 0.8vw;
    }
    .boost-price-blue {
        left: 8vw;
        height: 40px;
    }
    .boost-blue {
        width: 180px;
        height: 40px;
    }
    .stats-body {
        position: relative;
        top: 10vw;
        left: 10vw;
    }
    .footer {
        padding-top: 5vw;
        height: 26vw;
    }
    .answer-title {
        top: 1.8vw;
    }
}

@media (max-width: 1600px) {
    .boost-buy {
        left: 1.2vw;
    }
    .boost-button p {
        top: 0.7vw;
        right: 2vw;
        font-size: 0.8vw;
    }
    .boost-price {
        left: 8vw;
        height: 40px;
    }
    .boost-button {
        width: 180px;
        height: 40px;
    }
    .boost-mm p {
        top: 0.7vw;
        right: 2vw;
        font-size: 0.8vw;
    }
    .boost-price-mm {
        left: 8vw;
        height: 40px;
    }
    .boost-mm {
        width: 180px;
        height: 40px;
    }
    .boost-blue p {
        top: 0.7vw;
        right: 2vw;
        font-size: 0.8vw;
    }
    .boost-price-blue {
        left: 8vw;
        height: 40px;
    }
    .boost-blue {
        width: 180px;
        height: 40px;
    }
    .stats-body {
        position: relative;
        top: 10vw;
        left: 10vw;
    }
    .footer {
        padding-top: 5vw;
        height: 26vw;
    }
    .answer-title {
        top: 1.8vw;
    }
    .header-text {
        position: relative;
        padding: 12vw 10vw 8vw 5vw;
    }
    .answers {
        position: relative;
        left: 10vw;
        top: 5vw;
        margin-bottom: 2vw;
    }
}

@media (max-width: 1440px) {
    .logotype {
        position: relative;
        right: 4vw;
    }
    .header-video {
        left: 3vw;
    }
    .boost-button p {
        top: 0.8vw;
    }
    .boost-price p {
        top: 0.8vw;
    }
    .boost-price {
        left: 8.4vw;
        height: 40px;
    }
    .boost-buy {
        left: 1vw;
    }
    .boost-blue p {
        top: 0.8vw;
    }
    .boost-price-blue p {
        top: 0.8vw;
    }
    .boost-price-blue {
        left: 8.4vw;
        height: 40px;
    }
    .boost-mm p {
        top: 0.8vw;
    }
    .boost-price-mm p {
        top: 0.8vw;
    }
    .boost-price-mm {
        left: 8.4vw;
        height: 40px;
    }
    .stats {
        top: 2vw;
        height: 400px;
    }
    .stats-title {
        font-size: 1.8vw;
    }
    .stats-title span {
        font-size: 1.8vw;
    }
    .stats-desc {
        font-size: 1vw;
    }
    .answer {
        width: 500px;
        height: 70px;
    }
    .answer-active {
        height: 120px !important;
    }
    .footer-left {
        position: relative;
        left: 8vw;
        bottom: 2vw;
    }
    .header-video-footer {
        height: 240px;
        width: 470px;
        left: 25vw;
    }
    .footer-author {
        left: 44vw;
        top: 1.5vw;
    }
    .navbar-links li>hr {
        position: relative;
        bottom: 0.5vw;
    }
    .boost-banner-text {
        width: 540px;
        font-size: 2vw;
    }
}

@media (max-width: 1366px) {
    .header-video {
        left: 0vw;
    }
    .boost-button {
        width: 155px;
        height: 35px;
        border-radius: 10px;
    }
    .boost-price {
        left: 7.3vw;
        width: 5.2vw;
        height: 35px;
        border-radius: 10px;
    }
    .boost-price p {
        top: 0.7vw;
    }
    .boost-blue {
        width: 155px;
        height: 35px;
        border-radius: 10px;
    }
    .boost-price-blue {
        left: 7.3vw;
        width: 5.2vw;
        height: 35px;
        border-radius: 10px;
    }
    .boost-price-blue p {
        top: 0.7vw;
    }
    .boost-mm {
        width: 155px;
        height: 35px;
        border-radius: 10px;
    }
    .boost-price-mm {
        left: 7.3vw;
        width: 5.2vw;
        height: 35px;
        border-radius: 10px;
    }
    .boost-price-mm p {
        top: 0.7vw;
    }
    .faq {
        height: 67vw;
    }
}

@media (max-width: 1200px) {
    .logotype {
        width: 13vw;
        position: relative;
        top: 0.5vw;
    }
    .header-text p {
        font-size: 1vw;
        width: 450px;
    }
    .header-video {
        height: 220px;
        width: 420px;
        left: 2vw;
    }
    .boost-banner img {
        width: 105vw;
        height: 25vw;
    }
    .boost-banner-text {
        width: 540px;
        font-size: 1.8vw;
    }
    .about {
        background: #1B1C29;
        top: 4vw;
        padding-top: 5vw;
        height: 27vw;
    }
    .boost-button {
        width: 135px;
        height: 32px;
        border-radius: 10px;
    }
    .boost-mm {
        width: 135px;
        height: 32px;
        border-radius: 10px;
    }
    .boost-blue {
        width: 135px;
        height: 32px;
        border-radius: 10px;
    }
    .boost-price-blue {
        height: 32px;
    }
    .boost-price-mm {
        height: 32px;
    }
    .boost-price {
        height: 32px;
    }
    .stats {
        top: 2vw;
        height: 320px;
    }
    .stats-desc {
        width: 450px;
    }
    .complete-boosts {
        bottom: 27vw;
    }
    .review {
        width: 225px;
        height: 40px;
        font-size: 1vw;
    }
    .answer {
        width: 400px;
        height: 60px;
    }
    .answer-desc {
        width: 300px;
    }
    .faq {
        height: 75vw;
    }
    .footer {
        padding-top: 5vw;
        height: 30vw;
    }
}

@media (max-width: 1024px) {
    .header-text p {
        font-size: 1vw;
        width: 400px;
    }
    .header-video {
        height: 180px;
        width: 350px;
        left: 2vw;
    }
    .boost-banner-desc {
        width: 400px;
        font-size: 1vw;
    }
    .about-desc {
        width: 700px;
        position: relative;
        font-size: 1vw;
        font-weight: 300;
    }
    .boost-card img {
        width: 20vw;
    }
    .boost-cards {
        position: relative;
        top: 3vw;
        left: 14vw;
        margin-top: 2vw;
    }
    .boost-card {
        margin-right: 40px;
    }
    .boost-button {
        width: 155px;
        height: 32px;
        border-radius: 10px;
    }
    .boost-price {
        left: 11vw;
    }
    .boost-price-blue {
        left: 11vw;
    }
    .boost-price-mm {
        left: 11vw;
    }
    .cards {
        height: 70vw;
    }
    .boost-cards-ipad {
        position: relative;
        left: 26vw;
    }
    .stats-desc {
        width: 350px;
    }
    .answer {
        width: 350px;
        height: 50px;
    }
    .answer-active {
        height: 90px !important;
    }
    .header-video-footer {
        height: 180px;
        width: 350px;
        left: 21vw;
    }
    .footer-author {
        left: 40vw;
        font-size: 1.2vw
    }
    .stats-body {
        position: relative;
        top: 10vw;
        left: 5vw;
    }
    .navbar-links {
        position: relative;
        left: 40vw;
    }
}

@media (max-width: 768px) {
    .logotype {
        width: 20vw;
        position: relative;
        top: 0.5vw;
        right: 10vw;
    }
    .navbar-links {
        position: relative;
        left: 25vw;
    }
    .navbar-links li {
        font-size: 1.5vw;
    }
    .header-text {
        position: relative;
        padding: 12vw 10vw 8vw 2vw;
    }
    .header-text p {
        font-size: 1vw;
        width: 300px;
    }
    .header-video {
        height: 160px;
        width: 300px;
        left: 2vw;
    }
    .boost-card img {
        width: 27vw;
    }
    .boost-cards {
        left: 3vw;
    }
    .cards {
        height: 90vw;
    }
    .boost-cards-ipad {
        left: 20vw;
    }
    .about-title {
        font-size: 2.2vw;
    }
    .cards-title {
        font-size: 2.5vw;
    }
    .boost-price {
        left: 15vw;
        width: 7vw;
    }
    .boost-price-mm {
        left: 15vw;
        width: 7vw;
    }
    .boost-price-blue {
        left: 15vw;
        width: 7vw;
    }
    .boost-button p {
        font-size: 1.3vw;
        top: 1.1vw;
    }
    .boost-mm p {
        font-size: 1.3vw;
        top: 1.1vw;
    }
    .boost-blue p {
        font-size: 1.3vw;
        top: 1.1vw;
    }
    .boost-price p {
        top: 1.1vw;
        font-size: 1.3vw;
    }
    .boost-price-mm p {
        top: 1.1vw;
        font-size: 1.3vw;
    }
    .boost-price-blue p {
        top: 1.1vw;
        font-size: 1.3vw;
    }
    .stats {
        top: 2vw;
        height: 200px;
    }
    .review {
        width: 155px;
        height: 30px;
        font-size: 1vw;
    }
    .stats-desc {
        width: 270px;
    }
    .complete-boosts {
        bottom: 28vw;
    }
    .faq-title {
        font-size: 2.5vw;
    }
    .answer {
        width: 270px;
        height: 35px;
    }
    .answer-desc {
        width: 230px;
    }
    .faq {
        height: 70vw;
    }
    .header-video-footer {
        height: 130px;
        width: 250px;
        left: 16vw;
    }
    .footer-author {
        left: 33vw;
        font-size: 1.2vw;
    }
    .footer-left {
        position: relative;
        left: 4vw;
        bottom: 2vw;
    }
}

@media (max-width: 520px) {
    .header-text h1 {
        font-size: 6vw;
    }
    .header-text p {
        font-size: 3vw;
        width: 300px;
    }
    .boost-banner {
        position: relative;
        right: 4vw;
        top: 75vw;
    }
    .button-stats {
        position: relative;
        bottom: 8vw;
    }
    .about {
        background: #1B1C29;
        top: 4vw;
        padding-top: 65vw;
        height: 100vw;
    }
    .about-title {
        font-size: 3.2vw;
    }
    .about-desc {
        width: 350px;
        position: relative;
        font-size: 2vw;
        font-weight: 300;
        right: 0vw;
        top: 0vw;
    }
    .boost-banner img {
        width: 120vw;
        height: 30vw;
        right: 5vw;
        position: relative;
    }
    .boost-banner-text {
        width: 170px;
        position: relative;
        bottom: 22vw;
        font-size: 2.8vw;
    }
    .boost-banner-desc {
        width: 200px;
        font-size: 1.5vw;
        position: relative;
        bottom: 24vw;
    }
    .cards {
        height: 410vw;
        padding-top: 65vw;
    }
    .boost-cards {
        position: relative;
        left: 20vw;
    }
    .boost-card img {
        width: 50vw;
    }
    .boost-card {
        padding-bottom: 6vw;
    }
    .boost-price {
        left: 31vw;
        width: 13vw;
        height: 7vw;
    }
    .boost-price-mm {
        left: 31vw;
        width: 13vw;
        height: 7vw;
    }
    .boost-price-blue {
        left: 31vw;
        width: 13vw;
        height: 7vw;
    }
    .cards-title {
        font-size: 5vw;
    }
    .boost-button {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-mm {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-blue {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-button p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-mm p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-blue p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-price p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .boost-price-mm p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .boost-price-blue p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .complete-boosts {
        position: relative;
        bottom: 12vw;
        left: 11vw;
    }
    .stats__card-line {
        top: 7vw;
    }
    .stats-title-body {
        position: relative;
        bottom: 3vw;
        left: 20vw;
    }
    .stats-title {
        font-size: 3.8vw;
    }
    .stats-title span {
        font-size: 3.8vw;
    }
    .review {
        width: 70px;
        height: 15px;
        font-size: 1vw;
        position: relative;
        left: 12vw;
        top: 0vw;
    }
    .stats-desc {
        width: 300px;
        text-align: center;
        position: relative;
        bottom: 3vw;
        right: 18vw;
        font-size: 1.5vw;
    }
    .complete-boosts {
        position: relative;
        bottom: 12vw;
        left: 5vw;
    }
    .stats {
        top: 0vw;
        position: relative;
        height: 200px;
        padding-top: 0vw;
    }
    .answer {
        width: 270px;
        height: 35px;
        margin-top: 2vw;
    }
    .answer img {
        width: 3vw;
        position: relative;
        left: 3vw;
    }
    .answer-title {
        top: 3.5vw;
        left: 5vw;
        position: relative;
        font-size: 2vw;
    }
    .answer-desc {
        width: 230px;
        font-size: 1.5vw;
        left: 5vw;
    }
    .faq {
        height: 170vw;
    }
    .footer {
        top: 0vw;
    }
    .logotype-footer {
        width: 15vw;
    }
    .header-video-footer {
        height: 65px;
        width: 120px;
        left: 16vw;
        top: 0vw;
    }
    .faq {
        height: 170vw;
    }
    .about-desc {
        font-size: 2.5vw;
    }
    .about-desc span {
        font-size: 2.5vw;
    }
    .navbar-links li>hr {
        position: relative;
        bottom: 5.5vw;
    }
    .logotype {
        width: 30vw;
        position: relative;
        top: 1.5vw;
        right: 18vw;
    }
    .links-desktop {
        display: none;
    }
    .navbar {
        display: none !important;
    }
    .navbar-mob {
        display: inline-flex;
        position: relative;
        top: 0vw;
        z-index: 2;
    }
    .navbar-full {
        display: none;
    }
    .complete-boost {
        margin-right: 8vw;
        bottom: 5vw;
        position: relative;
    }
    .logotype_mobile {
        width: 30vw;
        position: relative;
        top: 5vw;
        right: 9vw;
    }
    .hamburger {
        position: relative;
        left: 35vw;
        top: 2vw;
    }
    .navbar-mobile-menu {
        color: white;
        display: inline-block;
        height: 30vw;
        position: absolute;
        z-index: 999;
        width: 83vw;
        top: 20vw;
        left: 1vw;
        height: 0vw;
        -webkit-transition: height 1s;
        -moz-transition: height 1s;
        transition: height 1s;
    }
    .mobile-background-active {
        height: 55vw !important;
        background: #7067FF !important;
    }
    .mobile-background-default {
        height: 0vw !important;
        background: white !important;
    }
    .navbar-mobile-menu ul>li {
        margin-bottom: -3vw;
        position: relative;
        right: 4vw;
        top: 5vw;
    }
    .header-video {
        position: relative;
        right: 20vw;
    }
    .header-video {
        display: none;
    }
    .header-video-mb {
        position: relative;
        height: 150px;
        width: 330px;
        right: 0vw;
        top: 10vw;
        background: #1B1C29;
        box-shadow: 4px 4px 77px rgba(0, 0, 0, 0.48);
    }
}

@media (max-width: 414px) {
    .header-text h1 {
        font-size: 6vw;
    }
    .header-text p {
        font-size: 3vw;
        width: 300px;
    }
    .boost-banner {
        position: relative;
        right: 4vw;
        top: 75vw;
    }
    .button-stats {
        position: relative;
        bottom: 8vw;
    }
    .about {
        background: #1B1C29;
        top: 4vw;
        padding-top: 65vw;
        height: 100vw;
    }
    .about-title {
        font-size: 3.2vw;
    }
    .about-desc {
        width: 350px;
        position: relative;
        font-size: 2vw;
        font-weight: 300;
        right: 0vw;
        top: 0vw;
    }
    .boost-banner img {
        width: 120vw;
        height: 30vw;
        right: 5vw;
        position: relative;
    }
    .boost-banner-text {
        width: 170px;
        position: relative;
        bottom: 22vw;
        font-size: 2.8vw;
    }
    .boost-banner-desc {
        width: 200px;
        font-size: 1.5vw;
        position: relative;
        bottom: 24vw;
    }
    .cards {
        height: 410vw;
        padding-top: 65vw;
    }
    .boost-cards {
        position: relative;
        left: 20vw;
    }
    .boost-card img {
        width: 50vw;
    }
    .boost-card {
        padding-bottom: 6vw;
    }
    .boost-price {
        left: 31vw;
        width: 13vw;
        height: 7vw;
    }
    .boost-price-mm {
        left: 31vw;
        width: 13vw;
        height: 7vw;
    }
    .boost-price-blue {
        left: 31vw;
        width: 13vw;
        height: 7vw;
    }
    .cards-title {
        font-size: 5vw;
    }
    .boost-button {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-mm {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-blue {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-button p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-mm p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-blue p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-price p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .boost-price-mm p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .boost-price-blue p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .complete-boosts {
        position: relative;
        bottom: 12vw;
        left: 11vw;
    }
    .stats__card-line {
        top: 7vw;
    }
    .stats-title-body {
        position: relative;
        bottom: 3vw;
        left: 20vw;
    }
    .stats-title {
        font-size: 3.8vw;
    }
    .stats-title span {
        font-size: 3.8vw;
    }
    .review {
        width: 70px;
        height: 15px;
        font-size: 1vw;
        position: relative;
        left: 12vw;
        top: 0vw;
    }
    .stats-desc {
        width: 300px;
        text-align: center;
        position: relative;
        bottom: 3vw;
        right: 18vw;
        font-size: 1.5vw;
    }
    .complete-boosts {
        position: relative;
        bottom: 12vw;
        left: 5vw;
    }
    .stats {
        top: 0vw;
        position: relative;
        height: 200px;
        padding-top: 0vw;
    }
    .answer {
        width: 270px;
        height: 35px;
        margin-top: 2vw;
    }
    .answer img {
        width: 3vw;
        position: relative;
        left: 3vw;
    }
    .answer-title {
        top: 3.5vw;
        left: 5vw;
        position: relative;
        font-size: 2vw;
    }
    .answer-desc {
        width: 230px;
        font-size: 1.5vw;
        left: 5vw;
    }
    .faq {
        height: 170vw;
    }
    .footer {
        top: 0vw;
        padding-top: 10vw;
        position: relative;
    }
    .logotype-footer {
        width: 15vw;
    }
    .header-video-footer {
        height: 65px;
        width: 120px;
        left: 16vw;
        top: 0vw;
    }
    .faq {
        height: 170vw;
    }
    .about-desc {
        font-size: 2.5vw;
    }
    .about-desc span {
        font-size: 2.5vw;
    }
    .navbar-links li>hr {
        position: relative;
        bottom: 5.5vw;
    }
    .logotype {
        width: 30vw;
        position: relative;
        top: 1.5vw;
        right: 18vw;
    }
    .links-desktop {
        display: none;
    }
    .navbar {
        display: none !important;
    }
    .navbar-mob {
        display: inline-flex;
        position: relative;
        top: 0vw;
        z-index: 2;
    }
    .navbar-full {
        display: none;
    }
    .complete-boost {
        margin-right: 8vw;
        bottom: 5vw;
        position: relative;
    }
    .logotype_mobile {
        width: 30vw;
        position: relative;
        top: 5vw;
        right: 9vw;
    }
    .hamburger {
        position: relative;
        left: 35vw;
        top: 2vw;
    }
    .navbar-mobile-menu {
        color: white;
        display: inline-block;
        height: 30vw;
        position: absolute;
        z-index: 999;
        width: 83vw;
        top: 20vw;
        left: 1vw;
        height: 0vw;
        -webkit-transition: height 1s;
        -moz-transition: height 1s;
        transition: height 1s;
    }
    .mobile-background-active {
        height: 55vw !important;
        background: #7067FF !important;
    }
    .mobile-background-default {
        height: 0vw !important;
        background: white !important;
    }
    .navbar-mobile-menu ul>li {
        margin-bottom: -3vw;
        position: relative;
        right: 4vw;
        top: 5vw;
    }
    .header-video {
        position: relative;
        right: 20vw;
    }
    .header-video {
        display: none;
    }
    .header-video-mb {
        position: relative;
        height: 150px;
        width: 330px;
        right: 0vw;
        top: 10vw;
        background: #1B1C29;
        box-shadow: 4px 4px 77px rgba(0, 0, 0, 0.48);
    }
}

@media (max-width: 375px) {
    .header-text h1 {
        font-size: 6vw;
    }
    .header-text p {
        font-size: 3vw;
        width: 300px;
    }
    .boost-banner {
        position: relative;
        right: 4vw;
        top: 75vw;
    }
    .about {
        background: #1B1C29;
        top: 4vw;
        padding-top: 65vw;
        height: 100vw;
    }
    .about-title {
        font-size: 3.2vw;
    }
    .about-desc {
        width: 300px;
        position: relative;
        font-size: 2vw;
        font-weight: 300;
    }
    .boost-banner img {
        width: 120vw;
        height: 30vw;
        right: 5vw;
        position: relative;
    }
    .boost-banner-text {
        width: 140px;
        position: relative;
        bottom: 22vw;
        font-size: 2.8vw;
    }
    .boost-banner-desc {
        width: 200px;
        font-size: 1.5vw;
        position: relative;
        bottom: 24vw;
    }
    .cards {
        height: 410vw;
        padding-top: 65vw;
    }
    .boost-cards {
        position: relative;
        left: 20vw;
    }
    .boost-card img {
        width: 50vw;
    }
    .boost-card {
        padding-bottom: 6vw;
    }
    .boost-price {
        left: 33vw;
        width: 13vw;
        height: 7vw;
    }
    .boost-price-mm {
        left: 33vw;
        width: 13vw;
        height: 7vw;
    }
    .boost-price-blue {
        left: 34vw;
        width: 13vw;
        height: 7vw;
    }
    .cards-title {
        font-size: 5vw;
    }
    .boost-button {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-mm {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-blue {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-button p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-mm p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-blue p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-price p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .boost-price-mm p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .boost-price-blue p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .complete-boosts {
        position: relative;
        bottom: 12vw;
        left: 11vw;
    }
    .stats__card-line {
        top: 7vw;
    }
    .stats-title-body {
        position: relative;
        bottom: 3vw;
        left: 20vw;
    }
    .stats-title {
        font-size: 3.8vw;
    }
    .stats-title span {
        font-size: 3.8vw;
    }
    .review {
        width: 70px;
        height: 15px;
        font-size: 1vw;
        position: relative;
        left: 12vw;
        top: 0vw;
    }
    .stats-desc {
        width: 300px;
        text-align: center;
        position: relative;
        bottom: 3vw;
        right: 18vw;
        font-size: 1.5vw;
    }
    .complete-boosts {
        position: relative;
        bottom: 12vw;
        left: 5vw;
    }
    .stats {
        top: 0vw;
        position: relative;
        height: 200px;
        padding-top: 0vw;
    }
    .answer {
        width: 270px;
        height: 35px;
        margin-top: 2vw;
    }
    .answer img {
        width: 3vw;
        position: relative;
        left: 3vw;
    }
    .answer-title {
        top: 3.5vw;
        left: 5vw;
        position: relative;
        font-size: 2vw;
    }
    .answer-desc {
        width: 230px;
        font-size: 1.5vw;
        left: 5vw;
    }
    .faq {
        height: 170vw;
    }
    .footer {
        top: 0vw;
        padding-top: 10vw;
        position: relative;
    }
    .logotype-footer {
        width: 15vw;
    }
    .header-video-footer {
        height: 65px;
        width: 120px;
        left: 16vw;
        top: 0vw;
    }
    .faq {
        height: 170vw;
    }
    .about-desc {
        font-size: 2.5vw;
    }
    .about-desc span {
        font-size: 2.5vw;
    }
    .navbar-links li>hr {
        position: relative;
        bottom: 5.5vw;
    }
    .logotype {
        width: 30vw;
        position: relative;
        top: 1.5vw;
        right: 18vw;
    }
    .links-desktop {
        display: none;
    }
    .navbar {
        display: none !important;
    }
    .navbar-mob {
        display: inline-flex;
        position: relative;
        top: 0vw;
        z-index: 2;
    }
    .navbar-full {
        display: none;
    }
    .logotype_mobile {
        width: 30vw;
        position: relative;
        top: 5vw;
        right: 9vw;
    }
    .hamburger {
        position: relative;
        left: 38vw;
        top: 2vw;
    }
    .navbar-mobile-menu {
        color: white;
        display: inline-block;
        height: 30vw;
        position: absolute;
        z-index: 999;
        width: 83vw;
        top: 20vw;
        left: 4vw;
        height: 0vw;
        -webkit-transition: height 1s;
        -moz-transition: height 1s;
        transition: height 1s;
    }
    .mobile-background-active {
        height: 55vw !important;
        background: #7067FF !important;
    }
    .mobile-background-default {
        height: 0vw !important;
        background: white !important;
    }
    .navbar-mobile-menu ul>li {
        margin-bottom: -3vw;
        position: relative;
        right: 4vw;
        top: 5vw;
    }
    .header-video {
        position: relative;
        right: 20vw;
    }
    .header-video {
        display: none;
    }
    .header-video-mb {
        position: relative;
        height: 150px;
        width: 330px;
        right: 0vw;
        top: 10vw;
        background: #1B1C29;
        box-shadow: 4px 4px 77px rgba(0, 0, 0, 0.48);
    }
}

@media (max-width: 250px) {
    .header-text h1 {
        font-size: 6vw;
    }
    .header-text p {
        font-size: 3vw;
        width: 300px;
    }
    .boost-banner {
        position: relative;
        right: 4vw;
        top: 75vw;
    }
    .about {
        background: #1B1C29;
        top: 4vw;
        padding-top: 65vw;
        height: 100vw;
    }
    .about-title {
        font-size: 3.2vw;
    }
    .about-desc {
        width: 300px;
        position: relative;
        font-size: 2vw;
        font-weight: 300;
    }
    .boost-banner img {
        width: 120vw;
        height: 30vw;
        right: 5vw;
        position: relative;
    }
    .boost-banner-text {
        width: 140px;
        position: relative;
        bottom: 22vw;
        font-size: 2.8vw;
    }
    .boost-banner-desc {
        width: 200px;
        font-size: 1.5vw;
        position: relative;
        bottom: 24vw;
    }
    .cards {
        height: 410vw;
        padding-top: 65vw;
    }
    .boost-cards {
        position: relative;
        left: 20vw;
    }
    .boost-card img {
        width: 50vw;
    }
    .boost-card {
        padding-bottom: 6vw;
    }
    .boost-price {
        left: 33vw;
        width: 13vw;
        height: 7vw;
    }
    .boost-price-mm {
        left: 33vw;
        width: 13vw;
        height: 7vw;
    }
    .boost-price-blue {
        left: 33vw;
        width: 13vw;
        height: 7vw;
    }
    .cards-title {
        font-size: 5vw;
    }
    .boost-button {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-mm {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-blue {
        width: 155px;
        height: 7vw;
        border-radius: 10px;
    }
    .boost-button p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-mm p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-blue p {
        font-size: 2.5vw;
        top: 1.3vw;
    }
    .boost-price p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .boost-price-mm p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .boost-price-blue p {
        top: 1.1vw;
        font-size: 3vw;
    }
    .complete-boosts {
        position: relative;
        bottom: 12vw;
        left: 11vw;
    }
    .stats__card-line {
        top: 7vw;
    }
    .stats-title-body {
        position: relative;
        bottom: 3vw;
        left: 20vw;
    }
    .stats-title {
        font-size: 3.8vw;
    }
    .stats-title span {
        font-size: 3.8vw;
    }
    .review {
        width: 70px;
        height: 15px;
        font-size: 1vw;
        position: relative;
        left: 12vw;
        top: 0vw;
    }
    .stats-desc {
        width: 300px;
        text-align: center;
        position: relative;
        bottom: 3vw;
        right: 18vw;
        font-size: 1.5vw;
    }
    .complete-boosts {
        position: relative;
        bottom: 12vw;
        left: 5vw;
    }
    .stats {
        top: 0vw;
        position: relative;
        height: 200px;
        padding-top: 0vw;
    }
    .answer {
        width: 270px;
        height: 35px;
        margin-top: 2vw;
    }
    .answer img {
        width: 3vw;
        position: relative;
        left: 3vw;
    }
    .answer-title {
        top: 3.5vw;
        left: 5vw;
        position: relative;
        font-size: 2vw;
    }
    .answer-desc {
        width: 230px;
        font-size: 1.5vw;
        left: 5vw;
    }
    .faq {
        height: 170vw;
    }
    .footer {
        top: 0vw;
        padding-top: 10vw;
        position: relative;
    }
    .logotype-footer {
        width: 15vw;
    }
    .header-video-footer {
        height: 65px;
        width: 120px;
        left: 16vw;
        top: 0vw;
    }
    .faq {
        height: 170vw;
    }
    .about-desc {
        font-size: 2.5vw;
    }
    .about-desc span {
        font-size: 2.5vw;
    }
    .navbar-links li>hr {
        position: relative;
        bottom: 5.5vw;
    }
    .logotype {
        width: 30vw;
        position: relative;
        top: 1.5vw;
        right: 18vw;
    }
    .links-desktop {
        display: none;
    }
    .navbar {
        display: none !important;
    }
    .navbar-mob {
        display: inline-flex;
        position: relative;
        top: 0vw;
        z-index: 2;
    }
    .navbar-full {
        display: none;
    }
    .logotype_mobile {
        width: 30vw;
        position: relative;
        top: 5vw;
        right: 9vw;
    }
    .hamburger {
        position: relative;
        left: 38vw;
        top: 2vw;
    }
    .navbar-mobile-menu {
        color: white;
        display: inline-block;
        height: 30vw;
        position: absolute;
        z-index: 999;
        width: 83vw;
        top: 20vw;
        left: 4vw;
        height: 0vw;
        -webkit-transition: height 1s;
        -moz-transition: height 1s;
        transition: height 1s;
    }
    .mobile-background-active {
        height: 55vw !important;
        background: #7067FF !important;
    }
    .mobile-background-default {
        height: 0vw !important;
        background: white !important;
    }
    .navbar-mobile-menu ul>li {
        margin-bottom: -3vw;
        position: relative;
        right: 4vw;
        top: 5vw;
    }
    .header-video {
        position: relative;
        right: 20vw;
    }
    .header-video {
        display: none;
    }
    .header-video-mb {
        position: relative;
        height: 150px;
        width: 330px;
        right: 0vw;
        top: 10vw;
        background: #1B1C29;
        box-shadow: 4px 4px 77px rgba(0, 0, 0, 0.48);
    }
}